* {
  box-sizing: border-box;
}

body {
  font-family: Tahoma, Arial;
}

.repos-container {
  max-width: 800px;
  margin: auto;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
}

.repos-container .get-repos {
  padding: 20px;
  background-color: #eee;
  display: flex;
  flex-direction: column; /* Change to column layout for small screens */
  gap: 10px;
}

.repos-container .get-repos input {
  flex: 1;
  padding: 15px 20px;
  border: none;
  font-size: 20px;
  height: 54px;
  outline: none;
  text-align: center;
}

.repos-container .get-repos .get-button {
  width: 140px;
  height: 54px;
  background-color: #f44336;
  color: #fff;
  line-height: 54px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
  border-radius: 10px;
}

.repos-container .show-data {
  padding: 20px;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column; /* Change to column layout for small screens */
}

.repos-container .show-data .repo-box {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.repos-container .show-data .repo-box .repo-name {
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 3px;
}

.repos-container .show-data .repo-box a,
.repos-container .show-data .repo-box span {
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 4px;
  margin: 5px 0;
}

.repos-container .show-data .repo-box a {
  text-decoration: none;
  background-color: #e91e63;
}

.repos-container .show-data .repo-box span {
  background-color: #009688;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .repos-container {
    max-width: 100%;
  }

  .repos-container .get-repos {
    padding: 10px;
  }

  .repos-container .get-repos input {
    font-size: 16px;
  }

  .repos-container .get-repos .get-button {
    width: 100px;
    height: 44px;
    font-size: 16px;
  }

  .repos-container .show-data {
    padding: 10px;
  }

  .repos-container .show-data .repo-box .repo-name {
    width: 100%;
  }

  .repos-container .show-data .repo-box a,
  .repos-container .show-data .repo-box span {
    font-size: 10px;
  }
}
